[submodule "submodules/morpho-blue"]
	path = submodules/morpho-blue
	url = git@github.com:morpho-org/morpho-blue.git
[submodule "submodules/morpho-blue-irm"]
	path = submodules/morpho-blue-irm
	url = git@github.com:morpho-org/morpho-blue-irm.git
[submodule "submodules/morpho-blue-oracles"]
	path = submodules/morpho-blue-oracles
	url = git@github.com:morpho-org/morpho-blue-oracles.git
[submodule "submodules/metamorpho-v1.1"]
	path = submodules/metamorpho-v1.1
	url = git@github.com:morpho-org/metamorpho-v1.1.git
